@{
  Layout = "_Layout";
}

@using PierresVendors.Models;

<div class="jumbotron">
  <h2>Here are all of your Vendor Accounts!</h2>
  <h6>Click on one to see info and orders.</h6>
</div>
<div class="card">
  @if (Model.Count == 0)
  {
    <h3>We need to get some accounts!</h3>
  }

  @foreach (Vendor vendor in Model)
  {
    <h2><a href="/vendors/@vendor.Id">@vendor.Name</a></h2>
  }
  <h6><a href="/vendors/new">Add</a> an account.</h6>
</div>