@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Hello Pierre!</h1>
  <h2>Welcome to your vendor organizer!</h2>
</div>
<div class="card">
  <h3><a href="/vendors">Click Here</a> to view all of your Vendor Clients</h3>
  <h3><a href="/vendors/new">Click Here</a> to add a new Vendor Client</h3>
</div>