@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h3>Order Details:</h3>
</div>
<div class="card">
  <h4>@Model["orders"].Title</h4>
  <h5>@Model["orders"].Description</h5>
  <h5>$@Model["orders"].Price</h5>
  @if (Model["orders"].Reoccurring == "true")
  {
    <h5>@Model["orders"].Day every week.</h5>
  }
  else
  {
    <h5>@Model["orders"].Day.</h5>
  }
</div>